@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {}

@layer components {

  html,
  body,
  .App {
    min-height: 100vh;
  }

  .App {
    @apply bg-light-color flex flex-col
  }

  main {
    flex-grow: 1;
  }

  .slider {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite;
  }

  .border-custom {
    @apply border-2 border-solid border-dark-color
  }

  .light-border {
    @apply border-2 border-solid border-light-color rounded
  }

  .bar-classes {
    max-height: 50%;
  }

  .cart-classes {
    max-height: 50%;
    overflow-y: auto;
  }

  .inner-shadow {
    @apply shadow-[0_35px_60px_-15px_rgba(0, 0, 0, 0.3)] shadow-inner-shadow
  }

  .text-standard-size {
    @apply text-lg
  }

  .cart-classes li:not(:first-child) {
    @apply border-t-2 border-primary-color
  }

  .hand-tap {
    animation: tap 1.25s ease-out backwards;
    animation-iteration-count: infinite;
  }

  h1,
  h2 {
    font-family: 'Karmina italic';
  }

  p, h3 {
    font-family: 'MerriweatherSansRegular';
  }

  .disabled {
    @apply bg-neutral-300 text-neutral-500
  }

  .paiement-section {
    @apply bg-light-color flex flex-col py-32 px-10 h-screen
  }

  .paiement-icon {
    font-size: 8rem; /* 180px */
    line-height: 1;
  }
}

@layer utilities {
  @font-face {
    font-family: 'Karmina';
    src: url('../public/fonts/Karmina\ Regular.otf') format('truetype');
  }

  @font-face {
    font-family: 'Karmina italic';
    src: url('../public/fonts/Karmina\ Italic.otf') format('truetype');
  }

  @font-face {
    font-family: 'MerriweatherSansRegular';
    src: url('../public/fonts/MerriweatherSans-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MerriweatherSansBold';
    src: url('../public/fonts/MerriweatherSans-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MerriweatherSansItalic';
    src: url('../public/fonts/MerriweatherSans-Italic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MerriweatherSansMedium';
    src: url('../public/fonts/MerriweatherSans-Medium.ttf') format('truetype');
  }
}

@keyframes tap {
  0% {
    transform: rotateX(0deg);
  }

  10% {
    transform: rotateX(12.5deg);
    transform: rotateZ(-12.5deg);
  }

  25% {
    transform: rotateX(25deg);
    transform: rotateZ(-20deg);
  }

  75% {
    transform: rotateZ(0deg);
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}