@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {}

@layer components {
  :root {
    --primary-background-color: #333333;
    --secondary-background-color: #ececec;

    --primary-text-color: #ececec;
    --secondary-text-color: #333333;
  }

  .primary-background-color{
    background-color:var(--primary-background-color);
  }

  .secondary-background-color{
    background-color:var(--secondary-background-color);
  }

  .primary-text-color{
    color:var(--primary-text-color);
  }

  .secondary-text-color{
    color:var(--secondary-text-color);
  }
  
}

@layer utilities {
}